.about{
    padding-bottom: 48px;

}
.about_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -80px;
}
.image{
    height: 500px;
}
.about_info{
    font-size: 24px;
    margin-left: 100px;
}
.info_name{
    color: blue;
    font-size: 32px;
}

@media only screen and (max-width:720px){
   .image{
       height: 350px;
   }
   .about_info{
    font-size: 20px;
    margin-left: 30px;
}
}
@media only screen and (max-width:380px){
    
    .about_top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .image{
        height: 320px;
    }
    .about_info{
     font-size: 15px;
     margin-left: 30px;
 }
}